body {
    margin: 0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.header-section {
    padding: 1em 12em 10em;
}

header,
.header-content {
    display: flex;
    justify-content: space-between;
}

.bg-accent-dark {
    background-color: #1f2937;
}

.header-logo,
.hero h1 {
    color: #f9faf8;
}

.header-logo {
    font-size: 24px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 800;
}

.hero p,
.header-nav a {
    font-size: 18px;
    color: #e5e7eb;
}

.header-nav a {
    text-decoration: none;
}

.header-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 1em;
}

.header-content {
    display: flex;
    justify-content: space-between;
    margin-top: 8em;
    gap: 5em;
}

.info-section {
    padding: 1em 12em 6em;
}

.info-section h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.info-container {
    margin-top: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
}

.info img {
    width: 200px;
    height: auto;
    border: 3px solid #3882f6;
    border-radius: 12px;
}

.info {
    width: 200px;
    text-align: center;
}

.info p {
    margin-top: 4px;
    color: #2c2c2c;
}

.quote-section {
    background-color: #e5e7eb;
    padding: 12em;
}

.quote-section blockquote {
    margin: 0 auto;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    width: 24em;
}

.quote-section p {
    text-align: right;
    margin: 0 16em;
    font-size: 24px;
    font-weight: 800;
}

.cta-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8em;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    gap: 8em;
    padding: 3em 6em;
    border-radius: 8px;
}

.cta,
button {
    background-color: #3882f6;
}

.cta,
.cta-bold,
button {
    color: #f9faf8;
}

.cta-bold {
    font-size: 24px;
    font-weight: 700;
}

.cta p {
    margin: 4px;
}

button {
    border: none;
    border-radius: 8px;
    padding: 0.6em 3em;
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
}

.cta button {
    border: 2px solid white;
}